---
---

$bg-color: #FBF3DA;

@import 'reset.css';

body{
	background-color: $bg-color;
	margin: 0;
}

#sun{
	background-image: url('/images/site/sun.svg');
	width: 515px;
	height: 300px;
	background-size: cover;
	background-position: 0 -50px;
	position: absolute;
	z-index: -1;
	left: -80px;
}

.teaser-cloud{
	clip-path: url('#cloudClip');
}
